
@font-face {
  font-family: Rubik;
  src: url(../public/fonts/Poppins-Medium.ttf);
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.bg-secret{
  background-image: url(./components/assets/background\ 3.png);
  background-repeat: no-repeat;
  background-position: cover;
  background-size: cover;
}