
@font-face {
  font-family: Rubik;
  src: url(../public/fonts/Poppins-Medium.ttf);
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.bg-secret{
  background-image: url(./components/assets/background\ 3.png);
  background-repeat: no-repeat;
  background-position: cover;
  background-size: cover;
}


@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Apply the animation to the logo element */
.logo {
  animation: rotateAnimation infinite linear;
}